{{#if items}}
  <a class="btn btn-primary"
      data-toggle="collapse"
      href="#collapse{{ type }}-{{ @index }}"
      role="button"
      aria-expanded="false"
      aria-controls="collapse{{ type }}-{{ @index }}">
    {{ text }}
  </a>
{{/if}}
