<div class="py-3 text-center">
  ID: {{ id }}
  <div class="pull-right">{{> bins/_copy_button id }}</div>
</div>

{{#if dumps}}
  <div id="accordion">
    {{#each dumps}}
      <div class="card">
        <div class="card-header" id="heading-{{ @index }}">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed"
                data-toggle="collapse"
                data-target="#collapse{{ @index }}"
                aria-expanded="false"
                aria-controls="collapse{{ @index }}">

              {{ method }} : {{ uri }} - {{ time }}
            </button>
          </h5>
        </div>

        <div id="collapse{{ @index }}"
            class="collapse"
            aria-labelledby="heading-{{ @index }}"
            data-parent="#accordion">

          <div class="card-body">

            <p>
              <a class="btn btn-primary"
                  data-toggle="collapse"
                  href="#collapseHeaders-{{ @index }}"
                  role="button"
                  aria-expanded="false"
                  aria-controls="collapseHeaders-{{ @index }}">
                Headers
              </a>
              {{#if url_params}}
                <a class="btn btn-primary"
                    data-toggle="collapse"
                    href="#collapseUrlParams-{{ @index }}"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseUrlParams-{{ @index }}">
                  Url params
                </a>
              {{/if}}
              {{#if cookies}}
                <a class="btn btn-primary"
                    data-toggle="collapse"
                    href="#collapseCookies-{{ @index }}"
                    role="button"
                    aria-expanded="false"
                    aria-controls="collapseCookies-{{ @index }}">
                  Cookies
                </a>
              {{/if}}
            </p>

            <!-- headers -->
            <div class="collapse" id="collapseHeaders-{{ @index }}">
              <div class="card card-body">
                <dl>
                  {{#each headers}}
                    <dt>{{ @key }}</dt>
                    <dd>{{ this }}</dd>
                  {{/each}}
                </dl>
              </div>
            </div>

            {{#if url_params}}
              <!-- url-params -->
              <div class="collapse" id="collapseUrlParams-{{ @index }}">
                <div class="card card-body">
                  <dl>
                    {{#each url_params}}
                      <dt>{{ @key }}</dt>
                      <dd>{{ this }}</dd>
                    {{/each}}
                  </dl>
                </div>
              </div>
            {{/if}}

            {{#if cookies}}
              <!-- cookies -->
              <div class="collapse" id="collapseCookies-{{ @index }}">
                <div class="card card-body">
                  <dl>
                    {{#each cookies}}
                      <dt>{{ @key }}</dt>
                      <dd>{{ this }}</dd>
                    {{/each}}
                  </dl>
                </div>
              </div>
            {{/if}}

          </div>
        </div>
      </div>
    {{/each}}
  </div>
{{else}}
  No requests yet...
{{/if}}
